/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
 @import "bootstrap";
 @import "font-awesome";

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    padding-top: 5px;
}

.navbar {
    height: 80px;
    width: 100%;
}

.navbar .navbar-nav {
	padding-top: 10px;
}

.intro-header {
	padding-top: 50px;
	padding-bottom: 50px;
	height: 60%;
	text-align: center;
	color: #f8f8f8;
	background: url(barbell.jpg) no-repeat center center;
	background-size: cover;
}

body, html {
	width: 100%;
	height: 100%;
}

.workout-row {
	cursor: pointer;
}